<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ it.siteTitle }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144×144" href="/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114×114" href="/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <link href="/stylesheets/bootstrap.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    
    <!--[if lt IE 8]>
        <link href="stylesheets/bootstrap-ie7.css" media="print, screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!--[if IE]>
        <link href="stylesheets/ie.css" media="print, screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script src="/scripts/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/scripts/loader.js"></script>
</head>
<body>

